"
" Enable 'Track Action Ids' to see action names
" as you perform them in Rider
"

" Leader
let mapleader=" "

" Reload config
nnoremap <leader>si :source ~/.ideavimrc<CR>

" which-key plugin
set which-key
set notimeout
" OR
" set timeoutlen=5000
" Descriptions for which-key

" Relative line numbers
set relativenumber
set number

" Moving around
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gD <Action>(ReSharperGotoImplementation)

" Modify code
map <leader>rn <Action>(RenameElement)
map <leader>gc <Action>(CommentByLineComment)

" Testing
let g:WhichKeyDesc_test = "<leader>t [T]est"
map <leader>ts <Action>(ActivateUnitTestsToolWindow)
map <leader>tr <Action>(RiderUnitTestRunContextAction)

" Building
let g:WhichKeyDesc_build = "<leader>b [B]uild..."
map <leader>bb <Action>(BuildSolutionAction)
map <leader>br <Action>(Run)
map <leader>bd <Action>(Debug)
map <leader>bs <Action>(Stop)
" let g:WhichKeyDesc_build_solution = "<leader>bb [B]uild Solution"
" let g:WhichKeyDesc_build_run = "<leader>br [R]un"
" let g:WhichKeyDesc_build_debug = "<leader>bd [D]ebug"
" let g:WhichKeyDesc_build_stop = "<leader>bs [S]top"

" Breakpoints
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dc <Action>(RiderRemoveAllLineBreakpoints)

" Classic
map <C-s> <Action>(SaveAll)
